<!DOCTYPE html>
<!-- views/about.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <p>A private chain of flower shops We are spread throughout the Dan region, the Sharon region, Emek Hefer and the Carmel region and have served our customers for more than 40 years.
                        Our base is in Sharon and we grow most of our flowers in a family nursery with love as much as we used to and we get love back from the flowers.</p>
                </div>
            </div>


        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
